<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UpdateNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="conString"
        connectionString="Data Source=MANOJ-ENCORE\SQL2005;Initial Catalog=Updater;User ID=sa;Password=god"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <UpdateNotifier.Properties.Settings>
      <setting name="AddedToStartup" serializeAs="String">
        <value>False</value>
      </setting>
    </UpdateNotifier.Properties.Settings>
  </userSettings>
</configuration>
